*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #ececec;
    grid-template-areas:
     "titulo titulo titulo"
     "servicio servicio servicio"
    ;
}
.titulo{
    grid-area: titulo;
}
.titulo h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.prestamo{
    width: 500px;
    padding: 20px 70px;
    border: 1px solid #62cbdd;
    border-radius: 20px; 
    grid-area: serivicio;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.prestamo h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}
form .formularioGrupo{
    margin-bottom: 10px;
}
form label{
    display: block;
    margin: 0 auto;
}
form .enter{
    width: 100%;
    font-size: 1rem;
    padding: 5px 10px;
    text-align: end;
}
form .textError{
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    color: #222222bd;
}
.textOff{
    display: none;
}
.borderBien{
    background: green;
}
.borderMal{
    background: red;
}
main button{
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    background: #62cbdd;
    border: none;
}
.forBien{
    background: green;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
}
.forMal{
    background: red;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
}
